<section class="mt-1">
    <section class="login-warapper">
        <div class="row no-gutters">
            <div class="col-8">
                <div class="login-image-section"> &nbsp;
                    <img src="/assets/Images/login-image.jpg" class="img-fluid" alt="login-image">
                </div>
            </div>
            <div class="col-4">
                <div class="login-form-section bg-light h-100 p-3 pt-5">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </section>

</section>